<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Sign Up</a>
    </li>
    <li role="presentation">
      <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Log In</a>
    </li>
  </ul>

  <div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="tab1">
    <%= render 'shared/signup' %>
  </div>

  <div role="tabpanel" class="tab-pane" id="tab2">
    <%= render 'shared/login' %>
  </div>

</div>
</div>







